<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960377348627-26cuu29qj3tj8mrn2ipi0b219kjhvjth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960377348627-26cuu29qj3tj8mrn2ipi0b219kjhvjth</string>
	<key>API_KEY</key>
	<string>AIzaSyCL3tM37xwHBweqjtWnSNB-E2HLl-Lj74U</string>
	<key>GCM_SENDER_ID</key>
	<string>960377348627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktok</string>
	<key>PROJECT_ID</key>
	<string>ticktok-c67f5</string>
	<key>STORAGE_BUCKET</key>
	<string>ticktok-c67f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960377348627:ios:af1dea0d673cd2159d15e6</string>
</dict>
</plist>